* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: peachpuff;
}
nav {
  background: linear-gradient(to right, #ff3737, #ffae51);
  height: 100px;
  width: 100%;
}
img {
  height: 80px;
  width: 80px;
  margin-top: 10px;
}

label.logo {
  color: white;
  font-size: 60px;
  padding-left: 50px;
  text-align: center;
  font-weight: bold;
  font-family: "OptimusPrinceps";
}

nav ul {
  float: right;
  margin-right: 40px;
  margin-top: 10px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 18px;
  padding: 7px 10px;
  text-shadow: 2px 2px 5px rgb(95, 95, 95);
  border-radius: 3px;
  text-transform: uppercase;
}
/* a.active {
  
  } */
a:hover {
  background: white;
  color: #ffb923;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  /* label.logo {
      font-size: 30px;
      padding-left: 50px; 
    }*/
  nav ul li a {
    font-size: 16px;
  }
}

.content-table {
  background-color: white;
  border-collapse: collapse;
  margin: 25px 300px;
  font-size: 0.9em;
  min-width: 800px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background: #ff8400;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #ff8400;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #ff8400;
}

button {
  border-radius: 10px;
  color: white;
  padding: 14px 20px;
  margin-top: 5%;
  margin-left: 9%;
  border: none;
  cursor: pointer;
  width: 80%;
  background: linear-gradient(-135deg, #ff3737, #ffae51);
}

.becomeDonor {
  padding-top: 15px;
  padding-bottom: 50px;
  font-size: 20px;
  text-align: center;
  color: rgb(99, 99, 99);
}
