body {
  background-image: linear-gradient(to right, #ff3737, #ffae51);
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: auto;
  height: 350px;
  background: white;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0px 0px 10px #c4c4c4;
  border-radius: 5px;
}

.wrapper .input-data {
  height: 40px;
  width: 100%;
  padding-bottom: 12px;
  position: relative;
}

.wrapper .input-data input {
  height: 100%;
  width: 94%;
  padding-top: 5%;
  padding-left: 5%;
  border: none;
  font-size: 15px;
  position: relative;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label {
  transform: translateY(-20px);
  font-size: 12px;
  padding-left: 5px;
  color: #ff3737;
}

.wrapper .input-data label {
  font-size: 13px;
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}

.wrapper .input-data .underline {
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 97%;
  margin-left: 4px;
  margin-right: 4px;
  background: orange;
}

.input-data .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: pink;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before {
  transform: scaleX(1);
}

form {
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgb(38, 38, 38);
  background-color: white;
  width: 400px;
  height: 570px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
}

button {
  border-radius: 15px;
  color: white;
  padding: 14px 20px;
  margin-top: 15%;
  margin-left: 9%;
  border: none;
  cursor: pointer;
  width: 80%;
  background: linear-gradient(-135deg, #ff3737, #ffae51);
}

button:hover {
  background: linear-gradient(135deg, #ff3737, #ffae51);
}

.textfield {
  padding-top: 10px;
  font-size: 13px;
  color: rgb(143, 143, 143);
}

.container {
  padding: 30px;
  position: relative;
  margin: auto;
}

.imgcontainer {
  padding: 20px;
  position: relative;
  height: 90px;
}

img {
  width: auto;
  height: 175px;
  position: absolute;
}

.signup {
  padding-top: 10px;
  font-size: 12px;
  margin-left: 55px;
  color: rgb(99, 99, 99);
}

.psw {
  float: left;
  margin-top: 20%;
  font-size: 12px;
  color: rgb(99, 99, 99);
}

a {
  text-decoration: none;
}
