body {
        font-family: Arial, Helvetica, sans-serif;
        background-image: linear-gradient(to right, #ff3737, #ffae51);
}

form {
        border: 3px solid #f1f1f1;
        border-radius: 10px;
        box-shadow: 3px 3px 10px rgb(38, 38, 38);
        background-color: white;
        width: 400px;
        height: 550px;
        margin-top: 80px;
        margin-right: auto;
        margin-left: auto;
        margin-right: auto;
}

input[type="text"] {
        width: 80%;
        padding: 12px 25px;
        margin-top: 30px;
        margin-left: 35px;
        display: inline-block;
        border: 2px solid #ccc;
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: 5px;
        box-sizing: border-box;
}

input[type="password"] {
        width: 80%;
        padding: 12px 25px;
        margin-top: 8px;
        margin-left: 35px;
        display: inline-block;
        border: 2px solid #ccc;
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: 5px;
        box-sizing: border-box;
}

button {
        background-color: #e43111;
        border-radius: 15px;
        color: white;
        padding: 14px 20px;
        margin-top: 60px;
        margin-left: 50px;
        margin-right: 50px;
        border: none;
        cursor: pointer;
        width: 70%;
}

button:hover {
        opacity: 0.9;
}

.textfield {
        margin-left: 35px;
        padding-top: 10px;
        font-size: 14px;
        color: rgb(99, 99, 99);
}

.container {
        padding: 20px;
        position: relative;
        margin: auto;
}

.imgcontainer {
        padding: 20px;
        position: relative;
        height: 90px;
}

img {
        width: auto;
        height: 175px;
        position: absolute;
}

.signup {
        padding-top: 10px;
        margin-left: 75px;
        font-size: 12px;
        color: rgb(99, 99, 99);
}

.psw {
        float: left;
        padding-top: 70px;
        margin-left: 35px;
        font-size: 12px;
        color: rgb(99, 99, 99);
}
