* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: peachpuff;
}
nav {
  background: linear-gradient(to right, #ff3737, #ffae51);
  height: 100px;
  width: 100%;
}
img {
  height: 80px;
  width: 80px;
  margin-top: 10px;
}

label.logo {
  color: white;
  font-size: 60px;
  padding-left: 50px;
  text-align: center;
  font-weight: bold;
  font-family: "OptimusPrinceps";
}

nav ul {
  float: right;
  margin-right: 40px;
  margin-top: 10px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 18px;
  padding: 7px 10px;
  text-shadow: 2px 2px 5px rgb(95, 95, 95);
  border-radius: 3px;
  text-transform: uppercase;
}
/* a.active {
  
  } */
a:hover {
  background: white;
  color: #ffb923;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  /* label.logo {
      font-size: 30px;
      padding-left: 50px; 
    }*/
  nav ul li a {
    font-size: 16px;
  }
}

.navv {
  opacity: 30%;
}

.request {
  margin-top: 10px;
  box-sizing: border-box;
  background-color: white;
  position: absolute;
  left: 350px;
  max-width: 700px;
  height: 580px;
  width: 100%;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 15px;
  border: 1px solid orange;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.15);
}
h2 {
  text-align: center;
}

h5 {
  padding-top: 5px;
}
p {
  padding-left: 42px;
  padding-right: 42px;
  font-size: 12px;
  text-align: justify;
}

input[type="text"] {
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin: 1px 0;
  padding: 8px;
}

label {
  font-size: 14px;
  font-weight: 400;
}

.space {
  margin-top: 10px;
}

select {
  width: 155px;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin: 1px 0;
  padding: 8px;
}

input[type="file"] {
  display: none;
}

form input[type="submit"] {
  margin-left: 435px;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #ff3737, #ffae51);
}
form input[type="submit"]:hover {
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #ff3737, #ffae51);
}
.attach {
  color: white;
  background: #ffae51;
  font-size: 12px;
  width: 110px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.attach:hover {
  color: orange;
  background: white;
  font-size: 12px;
  width: 110px;
  height: 40px;
  padding: 5px;
  border: 1px solid orange;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding-bottom: 10px;
}
