<!DOCTYPE html>
{% load static %}
<html>
    <head>
            <meta
                    name="viewport"
                    content="width=device-width, initial-scale=1"
            />
            <title>BloodSeeker | Dashboard</title>
            <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap" rel="stylesheet">
            
    </head>
    <body>
        <div>
            <nav>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>
                </label>
                <label class="logo">
                    <img class="bslogo" src="{% static 'images/bs_logo.png' %}" alt="bloodseeker logo" />
                    BloodSeeker
                </label>
                    <ul>
                        <li><a class="active" href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Donors</a></li>
                        <li><a href="#">Blood Banks</a></li>
                        <li><a href="#">Account</a></li>
                    </ul>
            </nav>
        </div>
        
        <div class="wrapper">
            <h1>HI this is home page</h1>
            <h2>Welcome</h2>
        </div>
    </body>
</html>