<!DOCTYPE html>
{% load static %}
<html>
    <head>
            <meta
                    name="viewport"
                    content="width=device-width, initial-scale=1"
            />
            <title>BloodSeeker | Donor</title>
            <link rel="stylesheet" href="{% static 'css/requestAppointment.css' %}" />
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            
    </head>
    <body>
        <div class="navv">
            <nav>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>
                </label>
                <label class="logo">
                    <img class="bslogo" src="{% static 'images/bs_logo.png' %}" alt="bloodseeker logo" />
                    BloodSeeker
                </label>
                    <ul>
                        <li><a class="active">Home</a></li>
                        <li><a >About</a></li>
                        <li><a >Donors</a></li>
                        <li><a >Blood Banks</a></li>
                        <li><a >Account</a></li>
                    </ul>
            </nav>
        </div>
        
        <div class="wrapper">
            <div class="request">
                <form method="post">
                    {% csrf_token %}
                    <span class="material-icons"><a href="{% url 'user:requestDonor' user %}">arrow_back</a></span>
                    <h2>CHOOSING DONOR STATUS</h2><br>
                    
                    <p class="space"></p>
                    <label>Set Status: </label><br>
                        <select name="setStatus">
                            <option value="">Choose Status</option>
                            <option value="Ready to Donate">Ready to Donate</option>
                            <option value="Waiting Appointment">Waiting for Appointment</option>
                            <option value="Has Donated">Already Donated</option>
                        </select><br>
                        <p class="space"></p>
                    <h6><i>Fill this up if you want to note yourself when you last donated or if not yet.</i></h6>
                    <label>Write to Yourself:</label><br>
                        <input type="text" name="writeReminder" ><br>
                        <p class="space"></p>            
                            <div class="button"></div>
                            <input type="submit" value="Save">
                </form> 
            </div>
            
        </div>
    </body>
</html>