<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BloodSeeker | Edit Details</title>
    <link rel="stylesheet" href="{% static 'css/editDetails.css' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body class="example">
    <div class="navv">
      <nav>
        <input type="checkbox" id="check" />
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <label class="logo">
          <img
            class="bslogo"
            src="{% static 'images/bs_logo.png' %}"
            alt="bloodseeker logo"
          />
          BloodSeeker
        </label>
        <ul>
          <li><a class="active">Home</a></li>
          <li><a>About</a></li>
          <li><a>Donors</a></li>
          <li><a>Blood Banks</a></li>
          <li><a>Account</a></li>
        </ul>
      </nav>
    </div>

    <div class="wrapper">
      <div class="request">
        <form method="post">
          {% csrf_token %}
          <span class="material-icons"><a href="{% url 'user:viewDetails' user %}">arrow_back</a></span>
          <h2>UPDATE BLOOD STOCK AVAILABILTY</h2>
          <br />
          <h4>NOTE</h4>
          <p>
            Please review before clicking the <strong>update</strong> button. <br /><br />
          </p>
          <h6><i>Please fill up form accordingly.</i></h6>
          <div class="labell">
            <label class="bt">Bloodtype <strong>O+</strong></label><br>
                <input type="text" name="O+" value={{ value.oPlus }}><br><p class="space"></p>
            <label class="bt">Bloodtype <strong>O-</strong></label><br>
                <input type="text" name="O-" value={{ value.oMinus }}><br><p class="space"></p>
            <label class="bt">Bloodtype <strong>A+</strong></label><br>
                <input type="text" name="A+" value={{ value.aPlus }}><br><p class="space"></p>
            <label class="bt">Bloodtype <strong>A-</strong></label><br>
                <input type="text" name="A-" value={{ value.aMinus }}><br><p class="space"></p>
            <label class="bt">Bloodtype <strong>B+</strong></label><br>
                <input type="text" name="B+" value={{ value.bPlus }}><br><p class="space"></p>
            <label class="bt">Bloodtype <strong>B-</strong></label><br>
                <input type="text" name="B-" value={{ value.bMinus }}><br><p class="space"></p>
            <label class="bt">Bloodtype <strong>AB+</strong></label><br>
                <input type="text" name="AB+" value={{ value.aBPlus }}><br><p class="space"></p>
            <label class="bt">Bloodtype <strong>AB-</strong></label><br>
                <input type="text" name="AB-" value={{ value.aBMinus }}><br><p class="space"></p>
                <br><br>
          </div>
          <input type="submit" id="submit" value="UPDATE DETAILS" /> <!--if user is an organizer of this specified blood bank, button is available-->
        </form>
      </div>
    </div>
  </body>
</html>
