<!DOCTYPE html>
{% load static %}
<html>
    <head>
            <meta
                    name="viewport"
                    content="width=device-width, initial-scale=1"
            />
            <title>BloodSeeker | Blood Banks</title>
            <link rel="stylesheet" href="{% static 'css/hospital.css' %}" />
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap" rel="stylesheet">
            
    </head>
    <body class="example">
        <div>
            <nav>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>
                </label>
                <label class="logo">
                    <img class="bslogo" src="{% static 'images/bs_logo.png' %}" alt="bloodseeker logo" />
                    BloodSeeker
                </label>
                    <ul>
                        <li><a href="{% url 'user:dashboard' user %}">Home</a></li>
                        <li><a href="{% url 'user:about' user %}">About</a></li>
                        <li><a href="{% url 'user:donor' user %}">Donors</a></li>
                        <li><a href="{% url 'user:accreditedHospital' user %}">Blood Banks</a></li>
                        <li><a href="{% url 'user:account' user %}">Account</a></li>
                    </ul>
            </nav>
        </div>
        
        <div class="wrapper">
            <table class="content-table">
                <thead>
                  <tr>
                    <th>Hospital Name</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Contact Info</th>
                    <th>Blood type Stock</th>
                  </tr>
                </thead>
                <tbody>
                    {% for i in hospital %}
                        {% if i.isApproved == True %}
                    <tr>
                        <!--insert script here, remove redundants-->
                        <td>{{i.hospitalName}}</td>
                        <td>{{i.hospitalAddress}}</td>
                        <td>{{i.businessEmail}}</td>
                        <td>{{i.contactInfo}}</td>
                        <td>
                            <button class="accordion">View Details</button>
                            <div class="panel">
                              <p>
                                <table style="margin-left: 14px;">
                                    <tbody style="font-size: 12px;">
                                        
                                            <tr>
                                                <!--insert script here, remove redundants-->
                                                <td><strong>O+</strong></td>
                                                <td>{{ i.oPlus }}</td>  
                                                <!--insert script here, remove redundants-->
                                                <td><strong>O-</strong></td>
                                                <td>{{ i.oMinus }}</td> <!--blood stock of O+, if null put "out of stock" instead, thanks!-->
                                            </tr>
                                            <tr>
                                                <!--insert script here, remove redundants-->
                                                <td><strong>A+</strong></td>
                                                <td>{{ i.aPlus }}</td> <!--blood stock of O+, if null put "out of stock" instead, thanks!-->
                                                <!--insert script here, remove redundants-->
                                                <td><strong>A-</strong></td>
                                                <td>{{ i.aMinus }}</td> <!--blood stock of O+, if null put "out of stock" instead, thanks!-->
                                            </tr>                                     
                                            <tr>
                                                <!--insert script here, remove redundants-->
                                                <td><strong>B+</strong></td>
                                                <td>{{ i.bPlus }}</td> <!--blood stock of O+, if null put "out of stock" instead, thanks!-->
                                                <!--insert script here, remove redundants-->
                                                <td><strong>B-</strong></td>
                                                <td>{{ i.bMinus }}</td> <!--blood stock of O+, if null put "out of stock" instead, thanks!-->
                                            </tr>
                                            <tr>
                                                <!--insert script here, remove redundants-->
                                                <td><strong>AB+</strong></td>
                                                <td>{{ i.aBPlus }}</td> <!--blood stock of O+, if null put "out of stock" instead, thanks!-->
                                                <!--insert script here, remove redundants-->
                                                <td><strong>AB-</strong></td>
                                                <td>{{ i.aBMinus }}</td> <!--blood stock of O+, if null put "out of stock" instead, thanks!-->
                                              </tr>
                                        
                                        
                                      </tbody>
                                </table>
                             </p>
                            </div>
                        </td>
                    </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>

            <script>
                var acc = document.getElementsByClassName("accordion");
                var i;
                
                for (i = 0; i < acc.length; i++) {
                  acc[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight) {
                      panel.style.maxHeight = null;
                    } else {
                      panel.style.maxHeight = panel.scrollHeight + "px";
                    } 
                  });
                }
            </script>
            
            <div class="becomeDonor">
            {% if hospital1.username_id == account.username %}
                <p>You are already an organizer!</p>
            {% else %}
                <p>Want to organize a blood drive? <a href="{% url 'user:requestOrganizer' user %}"> Send a request here!<!-- link this to request donor --></a></p>
            {% endif %}
            </div>
        </div>
    </body>
</html>