<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BloodSeeker | Registration</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap" rel="stylesheet">
  </head>
  <body>

     
        <div class="imgcontainer">
          <img src="{% static 'images/bg.jpg' %}" alt="bloodseeker brand name"/>
        </div>
        <div class="container">
          <div class="title">SIGN UP</div>
          <div class="tagline">It's quick and easy.</div>
          <div class="content">
            <form method="post">
              {% csrf_token %}
              <div class="user-details">
                <div class="input-box">
                  <span class="details">First Name</span>
                  <input type="text" name="firstName" placeholder="Enter your first name" required="required">
                </div>
                <div class="input-box">
                  <span class="details">Last Name</span>
                  <input type="text" name="lastName" placeholder="Enter your first name" required="required">
                </div>
                <div class="input-box">
                  <span class="details">Username</span>
                  <input type="text" name="username" placeholder="Enter your username" required="required">
                </div>
                <div class="input-box">
                  <span class="details">Email</span>
                  <input type="email" name="email" placeholder="Enter your email" required="required">
                </div>
                <div class="input-box">
                  <span class="details">Contact Number</span>
                  <input type="text" name="contactNumber" placeholder="Enter your number" required="required">
                </div>
                <div class="input-box">
                  <span class="details">Age</span>
                  <input type="number" name="age" placeholder="Enter your age" required="required">
                </div>
                <div class="input-box">
                  <span class="details">Password</span>
                  <input type="password" name="password" placeholder="Enter your password" required="required">
                </div>
                <div class="input-box">
                  <span class="details">Confirm Password</span>
                  <input type="password" name="confirmPassword" placeholder="Confirm your password" required="required">
                </div>
              </div>
              <div class="gender-details">
                <input type="radio" name="gender" id="dot-1" checked="checked" value="Male">
                <input type="radio" name="gender" id="dot-2" value="Female">
                <span class="gender-title">Gender</span>
                <div class="category">
                  <label for="dot-1">
                    <span class="dot one"></span>
                    <span class="gender">Male</span>
                  </label>
                  <label for="dot-2">
                    <span class="dot two"></span>
                    <span class="gender">Female</span>
                  </label>
                </div>
              </div>
              {% if messages %}
              {% for message in messages %} 
              <div class="error-message">
                  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                  {{message}}
              </div>
              {% endfor %}
              {% endif %}
              <div class="button">
                <input type="submit" value="Register">
              </div>
              <div class="signin">
                Already have an account?
                <a href="{% url 'user:login' %}">Sign in</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    
  
  </body>
</html>
