<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label>Address:</label><br>
        <input type="text"  name="address" ><br>
        <label>Blood Type: </label><br>
            <select name="donorBloodType">
                <option value="O+">O+</option>
                <option value="O-">O-</option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
            </select>
        <label>Attachments:</label><br>
        <input type="file" name="attachmentsDonor" ><br>
        <input type="submit" value="Submit">
    </form> 
</body>
</html>