<!DOCTYPE html>
{% load static %}
<html>
    <head>
            <meta
                    name="viewport"
                    content="width=device-width, initial-scale=1"
            />
            <title>BloodSeeker | View Details</title>
            <link rel="stylesheet" href="{% static 'css/viewDetails.css' %}" />
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            
    </head>
    <body class="example">
        <div class="navv">
            <nav>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>
                </label>
                <label class="logo">
                    <img class="bslogo" src="{% static 'images/bs_logo.png' %}" alt="bloodseeker logo" />
                    BloodSeeker
                </label>
                    <ul>
                        <li><a class="active">Home</a></li>
                        <li><a >About</a></li>
                        <li><a >Donors</a></li>
                        <li><a >Blood Banks</a></li>
                        <li><a >Account</a></li>
                    </ul>
            </nav>
        </div>
        
        <div class="wrapper">
            <div class="request">
                    {% for i in org %}
                    <span class="material-icons"><a href="{% url 'user:accreditedHospital' user %}">arrow_back</a></span>
                    <h2>{{ i.hospitalName }}</h2> <!--add the hospital's name here-->
                    <br>
                    <table class="content-table">
                        <thead>
                          <tr>
                            <th>Blood type</th>
                            <th>Stock Availability</th>
                          </tr>
                        </thead>
                        <tbody> 
                          <tr>
                            <!--insert script here, remove redundants-->
                            <td>O+</td>
                            <td>{{ i.oPlus }}</td> 
                          </tr>
                          <tr>
                            <!--insert script here, remove redundants-->
                            <td>O-</td>
                            <td>{{ i.oMinus }}</td> <!--blood stock of O+, if null put "out of stock" instead, thanks!-->
                          </tr>
                          <tr>
                            <!--insert script here, remove redundants-->
                            <td>A+</td>
                            <td>{{ i.aPlus }}</td> <!--blood stock of O+, if null put "out of stock" instead, thanks!-->
                          </tr>
                          <tr>
                            <!--insert script here, remove redundants-->
                            <td>A-</td>
                            <td>{{ i.aMinus }}</td> <!--blood stock of O+, if null put "out of stock" instead, thanks!-->
                          </tr>
                          <tr>
                            <!--insert script here, remove redundants-->
                            <td>B+</td>
                            <td>{{ i.bPlus }}</td> <!--blood stock of O+, if null put "out of stock" instead, thanks!-->
                          </tr>
                          <tr>
                            <!--insert script here, remove redundants-->
                            <td>B-</td>
                            <td>{{ i.bMinus }}</td> <!--blood stock of O+, if null put "out of stock" instead, thanks!-->
                          </tr>
                          <tr>
                            <!--insert script here, remove redundants-->
                            <td>AB+</td>
                            <td>{{ i.aBPlus }}</td> <!--blood stock of O+, if null put "out of stock" instead, thanks!-->
                          </tr>
                          <tr>
                            <!--insert script here, remove redundants-->
                            <td>AB-</td>
                            <td>{{ i.aBMinus }}</td> <!--blood stock of O+, if null put "out of stock" instead, thanks!-->
                          </tr>
                        </tbody>
                    </table>
                    {% endfor %}
                    {% if org1.username_id == account.username %}
                      <a href="{% url 'user:editDetails' user %}"><button><strong>EDIT DETAILS</strong></button></a>
                    {% else %}
                      <a href="#"><button><strong>EDIT DETAILS</strong></button></a>
                    {% endif %}
            </div>
            
        </div>
    </body>
</html>